/*@media (min-width: @screen-sm-min) {
.img-carousel{
	width: 400px;
	min-height: 200px;
	max-height: 200px;
}
@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) { */
	body{
		background-image : url("http://nsa37.casimages.com/img/2016/09/09/160909050157760249.jpg");
		background-repeat : no-repeat;
		background-attachment : fixed;
	}
	header{

	}
	a{
		color: white;
		text-decoration: none;
	}
	button{
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 5px;
	}
	h2{
		color: white;
	}
	p{
		color: white;
	}
	.img-carousel{
		width: 1600px;
		min-height: 950px;
		max-height: 950px;
	}
	.img-product{
		width: 300px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.logo{
		width: 120px;
		height: auto;
	}
	.img-carousel{
		margin-left: auto;
		margin-right: auto;
	}
	.row{
		margin: 15px;
	}
	.section{
		margin: 10px;
		padding: 10px;
		background-color: #DEB887;
		width:400px;
		height:600px;
		background-image : url("http://nsa37.casimages.com/img/2016/09/09/160909060807254055.jpg");
	}
	.map {
		float: right;
		width: 250px;
		height: 250px;
	}
	.navbar{
		background-color: rgba(255,255,255,1);
	}
	.bp{
		color: black;
	}
	#historique{
		padding-top:40px;
		height:950px;
	}
	#chaussespieds{
		padding-top:40px;
		height:950px;
	}
	#tiresbottes{
		padding-top:40px;
		height:950px;
	}
	#personalise{
		padding-top:40px;
		height:950px;
	}
	#footer{
		padding-top:150px;
		height:950px;
	}
	#contact .modal-content{
		padding:20px;

	}

	h2 {
		color: white;
	}

	#findUs .modal-content{
		width: 450px;
		height: 400px
	}
